body{
    background-color: rgb(129, 195, 177);
}

.tittle{
    font-size: 40px;
    color: darkgray;
}

.logo{
    width: 200px;
}

#titulos{
    border: 2px solid black;
    width: 60vw;
    margin: auto;
    padding: 3em;
}

.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 0px  1em 1em 1em;
    border-radius: 10%;
    transition: 1s;
}

.cards:hover{
    background-color: darkgoldenrod;
}